body
{
  font-family: 'Nanum Square';
}
#footer-strong-text
{
 font-size: 15px;
}
#mini_title
{
padding: 15px 10px 10px 10px;
font-weight: 600;
}
#diff_back_1
{
  background-color: #ecf0f1;
  text-align:center;
}
#diff_back_2
{
  background-color: #bdc3c7;
  text-align:center;
}
#kisa
{
  padding: 5px;
}
#padding_link
{
  padding-top: 15px;
}
.main-footer-text
{
  font-size: 14px;
}
#card-title-font
{
  font-size: 15px;
  font-weight: 700;
}
#watermark
{
  float:right;
}
#photo-title
{
  padding: 5px 19px;
  font-size: 20px;
  font-weight: 600;
}
#photo-explain
{
  font-size: 15px;
  position: absolute;
}
a.middle
{
    color: #2980b9;
    font-size: 21px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
}
a.middle:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2.3px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before
{
  visibility: visible;
  transform: scaleX(1);
}
