#footer-strong-text
{
 font-size: 15px;
}
#mini_title
{
padding: 10px 10px 10px 10px;
font-weight: 600;
}
.main-footer-text
{
  font-size: 14px;
}
body
{
  font-family: 'Nanum Square';
}
